services:
  tao:
    build:
      context: ../
      dockerfile: Dockerfile.custom
    depends_on:
      - database
    volumes:
      - tao-code:/var/www/html
    environment:
      DB_HOST: database
      DB_NAME: tao
      DB_USER: root
      DB_PASSWORD: r00t
      USER: admin
      PASSWORD: adminofinformatics@231

  web:
    image: nginx:1.19
    ports:
      - "80:80"
    depends_on:
      - tao
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - tao-code:/var/www/html

  database:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: r00t
      MYSQL_USER: tao
      MYSQL_PASSWORD: tao
      MYSQL_DATABASE: tao
    command: --default-authentication-plugin=mysql_native_password
    cap_add:
      - SYS_NICE

volumes:
  tao-code:
